/* Custom CSS for hiding scrollbar */
.noScrollbar::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}
.noScrollbar {
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
  scrollbar-width: none; /* For Firefox */
}
